.footer{
    padding: 64px;
    background-color: rgba(26, 25, 37, 1);
    padding-bottom: 32px;
  }
  footer__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: rgba(245, 248, 251, 1);
    text-align: left;
  }

  .footer__title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    color: rgba(245, 248, 251, 1);
  }

  /* footer navigation */
  .footer-nav__list {
    list-style: none;
  }

  .footer-nav__link {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    display: inline-block;
  }

  .footer-nav__link:hover {
    border-bottom: 4px solid rgba(56, 146, 243, 1);
    color: rgba(56, 146, 243, 1);
  }

  .footer-nav__link:focus {
    border-bottom: 4px solid rgba(56, 146, 243, 1);
    border-radius: 5px;
    padding: 4px;
  }

  .footer-nav__link:active {
    color: rgba(0, 84, 182, 1);
  }

  .footer-nav__link:disabled {
    color: rgba(229, 236, 251, 0.36);
  }