@use '../base/variables' as *;
@use '../components/footer-navigation';
.footer{
    padding: 64px;
    background-color: $dark-purple;
    padding-bottom: 32px;

   &__block {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(191, 197, 238, 0.12);
   }

   &__right {
    margin-bottom: 32px;
    display:flex;
    justify-content: space-between;
    gap: 64px;
   }
  
  &__text {
    font-size: $size-s;
    font-weight: $font-weight-regular;
    line-height: $size-l;
    letter-spacing: 0;
    color: $white;
    text-align: left;
  }

  &__title {
    font-family: $font-base;
    font-size: $size-l;
    font-weight: $font-weight-medium;
    line-height: $size-xxl;
    letter-spacing: 0;
    color:$white;
    padding-left: 8px;
    margin-bottom: 12px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }

  &__copyright{
    font-family:$font-base;
    font-size: $size-s;
    font-weight: $font-weight-regular;
    line-height: 20px;
    text-align: left;
    color:$white;
  }
  &__socials{
    display: flex;
    gap: 8px;
  }
}
