@use "../base/variables" as *;
@use "../base/mixins" as *;
.header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 2000;
  background: $primary-color;
  @include desk {
    height: 112px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: relative;

    @include desk {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
    }
  }

  &__logo {
    position: fixed;
    left: 20%;
    display: flex;
    align-items: center;
    gap: 17px;

    @include desk {
      position: static;
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &__divider {
    display: none;

    @include desk {
      display: block;
      width: 2px;
      height: 24px;
      border-radius: 1px;
      background-color: $dark-gray;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    align-items: center;
    height: 48px;

    @include desk {
      order: 4;
    }
  }

  &__search {
    height: 48px;
    @include desk {
      order: 3;
    }
  }

  &__wallet {
    display: flex;
    align-items: center;
    gap: 10px;

    .visually-hidden {
      @include tab {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        clip: auto;
        overflow: visible;
        white-space: normal;
      }
    }
  }
  &__discord {
    display: flex;
    align-items: center;
    gap: 10px;

    .visually-hidden {
      @include desk {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        clip: auto;
        overflow: visible;
        white-space: normal;
      }
    }
  }
}
