@use "../base/variables" as *;
.about-us {
  padding: 64px;

  &__title {
    font-family: $font-accent;
    font-size: $title-size-xl;
    line-height: 48px;
    letter-spacing: -0, 5px;
    text-align: center;
    color: $white;
  }

  &__text {
    font-family: $font-base;
    font-size: $size-l;
    font-weight: $font-weight-medium;
    line-height: $size-xxl;
    letter-spacing: 0;
    color: $soft-white;
    text-align: center;
    margin-top: 40px;
  }

  &__container {
    margin-top: 40px;
  }
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 40px;
  }

  &__item {
    display: block;
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
}
