@use "../base/variables" as *;
.accordion {
  color: $white;
  font-weight: $font-weight-regular;
  background-color: $secondary-color;
  letter-spacing: 0;
  padding: 24px 24px 32px;

  &__header {
    font-family: $font-accent;
    font-size: $title-size-m;
    font-weight: $font-weight-regular;
    line-height: 32px;
    padding: $spacing-m;
    border-bottom: 1px solid $dark-blue;
  }

  &__content {
    font-size: $base-size;
    line-height: 24px;
    letter-spacing: 0;
    margin-top: 16px;
  }
}
