@use "../base/variables" as *;
.badge {
  position: absolute;
  top: 8px;
  right: 10px;
  color: $white;
  font-size: $font-size-xs;
  padding: 4px 8px;

  &--white {
    background-color: $white;
    color: $bright-blue;
  }

  &--red {
    background-color: red;
  }
}
