@use "../base/variables" as *;
@use "../base/mixins" as *;
.banner {
  padding: $spacing-xl $spacing-m;
  background-color: $primary-color;
  background-image: radial-gradient(
    ellipse,
    rgba(2, 101, 220, 0.4) 0%,
    rgba(2, 101, 220, 0.15) 50%,
    rgba(2, 101, 220, 0) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;

  @include tab {
    padding: $spacing-4xl $spacing-l;
  }
  @include desk {
    padding: $spacing-4xl 164px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content {
    display: grid;
    gap: 2rem;
    max-width: 100%;

    @include desk {
      flex: 0 1 60%;
    }
  }
  &__title {
    font-size: $title-size-l;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0;
    color: $white;

    @include tab {
      font-size: $title-size-xl;
      line-height: 48px;
      letter-spacing: -0.5px;
    }
    @include desk {
      font-size: $title-size-xxl;
      line-height: 62px;
      letter-spacing: -0.5px;
    }
  }

  &__text {
    font-size: $title-size-s;
    font-weight: $font-weight-medium;
    line-height: 28px;
    letter-spacing: 0;
    color: $white;
  }

  // Banner statistics
  &__stats {
    display: flex;
    gap: 24px;
  }
  &__stat {
    display: flex;
    flex-direction: column;
  }

  &__stat-number {
    font-family: $font-accent;
    font-size: $title-size-l;
    font-weight: $font-weight-regular;
    line-height: 36px;
    letter-spacing: 0;
    color: $white;
    text-shadow: 0 4px 13px rgba(255, 255, 255, 0.3);

    @include tab {
      font-size: $title-size-xl;
      line-height: 48px;
      letter-spacing: -0.5px;
    }

    @include desk {
      font-size: $title-size-xxl;
      line-height: 62px;
      letter-spacing: -0.5px;
    }
  }

  &__stat-text {
    font-size: $font-size-l;
    font-weight: $font-weight-regular;
    line-height: 24px;
    letter-spacing: 0;
    color: $soft-white;
  }
  &__buttons {
    display: grid;
    gap: 1rem;

    @include tab {
      display: flex;
      align-content: flex-start;
      gap: 1rem;
    }
  }

  // banner image
  &__image {
    display: none;

    @include desk {
      flex: 0 1 40%;
      display: block;
      max-width: 100%;
      top: -26px;
    }
  }
  &__logo {
    width: 100%;
    height: auto;
  }
}
