@use "../base/variables" as *;
.category {
  padding: $spacing-xl;
  width: 100%;
  background-color: $secondary-color;

  &__title {
    font-family: $font-accent;
    font-size: $title-size-m;
    font-weight: $font-weight-regular;
    line-height: 2rem;
    color: $white;
    padding-bottom: $spacing-m;
    border-bottom: 1px solid $dark-blue;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: $spacing-s;
    margin-top: 1rem;
  }

  &__item {
    font-family: $font-base;
    font-size: $font-size-m;
    font-weight: $font-weight-semibold;
    line-height: 20px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    padding: 6px 12px;
  }
}
