@use "../base/variables" as *;
@use "../base/mixins" as *;
/*section blog homepage*/
.blog {
  padding: $spacing-m $spacing-xl;

  @include tab {
    padding-inline: $spacing-l;
    padding-block: 0 $spacing-4xl;
  }
  @include desk {
    padding: $spacing-4xl;
  }

  &__title {
    font-family: $font-accent;
    font-weight: $font-weight-regular;
    font-size: $title-size-xl;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: $white;
    text-align: center;
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
