@use "../base/variables" as *;
.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 24px;
  padding: $size-xl;

  &__card {
    background-color: $secondary-color;
    padding: 24px;
    display: flex;
    flex-direction: column;

    &--big {
      grid-row: span 2;
    }
  }
  &__image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 16px;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__meta {
    display: flex;
    gap: 12px;
    margin-top: 24px;
  }

  &__divider {
    width: 2px;
    height: 26px;
    border-radius: 2px;
    background-color: $gray;
    opacity: 0.5;
  }

  &__author,
  &__date {
    font-size: $size-s;
    font-weight: $font-weight-semibold;
    line-height: $size-l;
    letter-spacing: 0;
    color: $soft-white;
  }

  &__article {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }
  &__title {
    font-family: $font-accent;
    font-size: $size-3xl;
    font-weight: $font-weight-regular;
    line-height: 48px;
    color: $white;
    letter-spacing: -0.5px;
    text-align: left;
  }
  &__text {
    font-size: $base-size;
    font-weight: $font-weight-regular;
    line-height: $size-xl;
    letter-spacing: 0;
    color: $soft-white;
    text-align: left;
  }
  &__button {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    padding-top: 16px;
  }
}
