@use '../base/variables' as *;
.breadcrumb {
    margin-top:24px;
    font-size: $size-s;
    color: $white;
    text-align: center;

    &__item {
        display:inline-flex;
        position: relative;
        justify-content: space-between;
        align-items: baseline;
        gap: 16px;


  &__item::before {
    content: "";
    position:absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 24px;
    background-color: $dark-gray;
  }

  &:first-child::before {
    display: none; 
  }
    }
}
