@use "../base/variables" as *;
.breadcrumb {
  font-size: $size-s;
  color: $white;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  &__item {
    display: flex;
    position: relative;
    align-items: center;
    gap: 16px;

    &:after {
      content: "";
      left: 0;
      top: 50%;
      width: 2px;
      height: 24px;
      background-color: $dark-gray;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      color: $light-gray;

      &::after {
        display: none;
      }
    }
  }
}
