@use "../base/variables" as *;

.contact-form {
  padding: 64px 0;
  text-align: center;

  &__title {
    font-size: $size-3xl;
    font-weight: $font-weight-bold;
    margin-bottom: 8px;
    color: $white;
  }

  &__subtitle {
    font-size: $size-s;
    color: $soft-white;
    margin-bottom: 32px;
  }

  &__form {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__toggle {
    font-size: $size-s;
    font-weight: $font-weight-regular;
    line-height: 20px;
    color: $white;
    padding: 24px;
    display: block;
    background-color: $secondary-color;
    height: 72px;
    text-align: left;
  }
  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 4px;

    &--agree {
      font-size: $size-s;
      font-weight: $font-weight-regular;
      line-height: 20px;
      color: $white;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
  }

  &__label {
    padding: 2px 0;
    font-size: $size-s;
    color: $white;
    text-align: left;
  }

  &__input,
  &__textarea {
    padding: 10px 14px;
    background-color: transparent;
    border: 1px solid $dark-gray;
    border-radius: 6px;
    color: $white;
    font-size: $base-size;

    &::placeholder {
      color: $light-gray;
    }

    &:focus {
      outline: none;
      border-color: $light-blue;
    }
  }
  &__radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    padding: 2px 0;
    color: $white;
  }

  a {
    color: $light-blue;
  }
}
