@use "../base/variables" as *;
.faqs {
  padding: $spacing-4xl;

  &__title {
    font-family: $font-accent;
    font-size: $title-size-xl;
    font-weight: $font-weight-regular;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-align: center;
    color: $white;
  }
}
