@use "../base/variables" as *;
.footer-nav {
  display: flex;
  gap: 24px;
  padding-top: 36px;

  &__title {
    display: block;
    font-family: $font-base;
    font-size: $size-l;
    font-weight: $font-weight-medium;
    line-height: $size-xxl;
    letter-spacing: 0;
    color: $white;
  }
  &__list {
    list-style: none;
    padding-top: 8px;
  }

  &__item {
    margin-bottom: 8px;
  }

  &__link {
    font-size: $size-xs;
    font-weight: $font-weight-semibold;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    padding: 4px 8px;
    display: inline-block;
  }

  &__link:hover {
    border-bottom: 4px solid $light-blue;
    color: $light-blue;
  }

  &__link:focus {
    border-bottom: 4px solid $light-blue;
    border-radius: 5px;
    padding: 4px;
  }

  &__link:active {
    color: $blue;
  }

  &__link:disabled {
    color: $gray;
  }
}
