@use '../base/variables' as *;
.info-card {
    position: relative;
    padding: 32px;
    margin-right: 32px;
    width: 376px;
    height: 206px;
    margin-right: 32px;
    margin-bottom: 40px;

    &__title {
        font-size: $size-xl;
        line-height: 32px;
        letter-spacing: 0;
        color: $white;
      }
    
      &__text {
        font-size: $size-m;
        font-weight: $font-weight-regular;
        line-height: $size-xxl;
        letter-spacing: 0;
        color: $soft-white;
      }
    &::before {
        position: absolute;
        width: 70px;
        height: 90.85px;
        content: '';
        background-image: url('../images/glow-top.png');
        background-repeat: no-repeat;
        background-position: top left;
        top: 0px;
        left: 0px;
      }
    
      &::after {
        position: absolute;
        width: 80px;
        height: 103.83px;
        content: '';
        background-image: url('../images/glow-bottom.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        bottom: 0px;
        right: 0px;
      }
    }