@use "../base/variables" as *;
@use "../base/mixins" as *;
.menu {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  &__input {
    position: absolute;
    left: -999px;
    top: 0;
    visibility: hidden;
    width: 0;
    height: 0;

    @include desk {
      display: none;
    }
  }

  &__input:checked + &__opener {
    background: rgba(13, 13, 21, 1);
  }
  &__input:checked ~ &__nav {
    transform: translateX(0);
  }
  &__input:checked + &__opener::before {
    transform: rotate(45deg);
    top: 20px;
  }

  &__input:checked + &__opener span {
    opacity: 0;
  }

  &__input:checked + &__opener::after {
    transform: rotate(-45deg);
    top: 20px;
  }

  &__opener {
    position: relative;
    z-index: 1001;
    display: block;
    width: 48px;
    height: 48px;
    background: rgba(13, 13, 21, 1);
    border: 2px solid rgba(208, 215, 251, 0.17);
    cursor: pointer;
    position: relative;

    @include desk {
      display: none;
    }

    &::before,
    &::after,
    & span {
      content: "";
      position: absolute;
      left: 10px;
      height: 2px;
      width: 24px;
      background: white;
      transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
      border-radius: 2px;

      @include desk {
        display: none;
      }
    }
    &::before {
      top: 12px;
    }
    & span {
      top: 22px;
    }
    &::after {
      top: 32px;
    }
  }

  &__nav {
    position: fixed;
    top: 80px;
    margin: 0;
    padding: 16px;
    background: $primary-color;
    width: 100%;
    height: calc(100vh - 80px);
    left: 0;
    transform: translateX(-999px);
    transition: transform 0.3s ease-in;
    z-index: 1001;

    @include desk {
      transform: none;
      position: static;
      height: auto;
      background: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 40px 16px;
      padding-block: 0;
    }

    @include desk-l {
      padding-inline: 260px 16px;
    }
  }
}
