@use "../base/variables" as *;
.product {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  padding: $spacing-l;
  overflow: hidden;
  width: 300px;
  height: 480px;

  &:hover {
    box-shadow: 0 0 10px $light-blue;
  }
  &__image {
    position: relative;
    width: 100%;
    height: 324px;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__price {
    font-family: $font-accent;
    font-size: $size-3xl;
    font-weight: $font-weight-regular;
    line-height: 48px;
    color: $white;
    margin-top: $spacing-l;
    letter-spacing: -0.5px;
    text-align: left;
  }

  &__name {
    font-family: $font-base;
    font-size: $size-l;
    font-weight: $font-weight-medium;
    line-height: $size-xxl;
    letter-spacing: 0;
    color: $soft-white;
    text-align: left;
  }
}
