@use "../base/variables" as *;
/*product cards in catalog*/
.product {
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: $spacing-l;
  overflow: visible;
  width: 100%;
  min-height: 350px;

  &:hover {
    box-shadow: 0 0 10px $light-blue;
  }
  &__image {
    position: relative;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    aspect-ratio: 3 / 4;
  }

  &__info {
    margin-top: 1rem;
  }

  &__price {
    font-family: $font-accent;
    font-size: $size-3xl;
    font-weight: $font-weight-regular;
    line-height: 48px;
    color: $white;
    margin-top: $spacing-l;
    letter-spacing: -0.5px;
    text-align: left;
  }

  &__name {
    font-family: $font-base;
    font-size: $size-l;
    font-weight: $font-weight-medium;
    line-height: $size-xxl;
    letter-spacing: 0;
    color: $soft-white;
    text-align: left;
  }
}
