<<<<<<< HEAD
@use "../base/variables" as *;

.search-form {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid $dark-gray;

  &__field {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    overflow: hidden;
    width: 100%;
  }

  &__input {
    background: none;
    border: none;
    padding: 8px 16px;
    font-size: $size-s;
    width: 100%;
    color: $white;

    &:focus {
      outline: none;
      background-color: $primary-color;
    }
  }

  &__button {
    background: url("/img/icons/search.svg") no-repeat center;
    background-size: 20px 20px;
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
  }
=======
.search-form {
  background-color: rgba(13, 13, 21, 1);
  border: 2px solid rgba(208, 215, 251, 0.17);
  padding: 8px 12px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(245, 248, 251, 1);
  background: transparent;
  margin-left: 8px;
}

.search-input:focus {
  border: none;
  outline: none;
}

.search-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(231, 238, 247, 0.66);
}

.search-button {
  background: none;
  border: none;
}

.search-form:hover {
  border: 2px solid rgba(56, 146, 243, 1);
}

.search-form:focus {
  border-bottom: 3px solid rgba(56, 146, 243, 1);
>>>>>>> main
}
