{% extends "layouts/base.njk" %}
{% block content %}
  {% include "partials/hero.njk" %} 
   {% include "partials/contactcards.njk" %} 
    {% include "partials/contactform.njk" %} 
{% endblock %}
{% set title = "Test page" %}
{{ title }}