{% extends "layouts/base.njk" %}
{% block content %}
 {% set hero = pages.contact.hero %}
{% include "partials/hero.njk" %}
   {% include "partials/contact-cards.njk" %} 
    {% include "partials/contact-form.njk" %} 
{% endblock %}
{% set title = "Test page" %}
{{ title }}