  /* global style* */
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Bakbak One", Arial, sans-serif;
  }

  /* reset styles for links */
  a {
    color: rgba(245, 248, 251, 1);
    text-decoration: none;
  }

  /* Background color for main sections */
  .header,
  .banner,
  .catalog,
  .blog,
  .about-us,
  .our-team,
  .faqs,
  .footer {
    background-color: rgba(13, 13, 21, 1);
  }

  /* navigation */
  .main-nav {
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
  }

  /* buttons */
  .button {
    font-family: "Poppins", sans-serif;
    color: rgba(245, 248, 251, 1);
  }

  .button--primary {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0;
    border: 2px solid rgba(208, 215, 251, 0.17);
  }

  .button--secondary {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    background-color: rgba(2, 101, 220, 1);
  }

  /* hero banner */
  h1 {
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: -0.5px;
    color: rgba(245, 248, 251, 1);
  }

  h1 span {
    color: rgba(2, 101, 220, 1);
  }

  /* Hero banner text */
  .banner__text {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    color: rgba(245, 248, 251, 1);
  }

  /* Banner statistics */
  .banner__stat--number {
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.4);
  }

  .banner__stat--text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(239, 245, 250, 0.82);
  }

  .button--extra-large-secondary,
  .button--extra-large-primary {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
  }

  /* banner buttons */
  .button--extra-large-secondary {
    background-color: rgba(2, 101, 220, 1);
  }

  .button--extra-large-primary {
    border: 2px solid rgba(208, 215, 251, 0.17);
  }

  /* color of cards in sections */
  .product,
  .blog-card,
  .profile,
  .accordion {
    background-color: rgba(29, 28, 40, 1);
  }

  .about-us,
  .footer {
    background-color: rgba(26, 25, 37, 1);
  }

  /* section names */
  h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: rgba(248, 247, 255, 1);
    text-align: center;
  }

  /* catalog section  */
  .catalog__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    color: rgba(248, 247, 255, 1);
    text-align: left;
  }

  .catalog__link {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
    color: rgba(248, 247, 255, 1);
    border: 2px solid rgba(208, 215, 251, 0.17);
    ;
  }

  /* slider buttons */
  .button--slider-left {
    border: 2px solid rgba(208, 215, 251, 0.17);
  }

  .button--slider-right {
    background-color: rgba(2, 101, 220, 1);
  }

  /* products descriptions */
  .product__price,
  .blog-card__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(245, 248, 251, 1);
    letter-spacing: -0.5px;
    text-align: left;
  }

  .product__name {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    color: rgba(239, 245, 250, 0.82);
    text-align: left;
  }

  /* blog section */
  .blog-card__author,
  .blog-card__date {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    color: rgba(239, 245, 250, 0.82);
  }

  .blog-card__text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(239, 245, 250, 0.82);
    text-align: left;
  }

  /* read more buttons */
  .button--expand {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    border: 2px solid rgba(208, 215, 251, 0.17);
  }

  .button--show-more {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    border: 2px solid rgba(208, 215, 251, 0.17);
  }

  /* section about us */
  .about-us__text {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    color: rgba(239, 245, 250, 0.82);
    text-align: center;
  }

  .info-card__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    color: rgba(245, 248, 251, 1);
  }

  .info-card__text {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    color: rgba(239, 245, 250, 0.82);
  }

  /* section our team */
  .profile__name {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(245, 248, 251, 1);
    letter-spacing: 0;
    text-align: center;
  }

  .profile__position {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    color: rgba(239, 245, 250, 0.82);
    text-align: center;
  }

  /* faq */
  .accordion__header {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    color: rgba(245, 248, 251, 1);
  }

  .accordion__content {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(245, 248, 251, 1);
  }

  /* footer */
  .footer__text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: rgba(245, 248, 251, 1);
    text-align: left;
  }

  .footer__title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    color: rgba(245, 248, 251, 1);
  }

  /* footer navigation */
  .footer-nav__list {
    list-style: none;
  }

  .footer-nav__link {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(245, 248, 251, 1)
  }