<section class="about-us">
  <h2 class="about-us__title">{{ about.title }}</h2>
  <p class="about-us__text">{{ about.text }}</p>

  <div class="about-us__container">
    <ol class="about-us__list">
      {% for item in about.items %}
      <li class="about-us__item">
        <article class="info-card">
          <h3 class="info-card__title">{{ item.title }}</h3>
          <p class="info-card__text">{{ item.text }}</p>
        </article>
      </li>
      {% endfor %}
    </ol>
  </div>
  <div class="about-us__button">
    <a href="#" class="button button--primary button--medium">{{
      about.buttonText
    }}</a>
  </div>
</section>
