<section class="blog">
  <h2 class="blog__title">{{ blog.title }}</h2>

  <div class="blog-container">
    {% for article in blog.articles %}
    <article class="blog-container__card">
      <div class="blog-container__image">
        <img
          src="/img/{{ article.image }}-1x.webp"
          width="736"
          height="198"
          alt="{{ article.title | lower }}"
          srcset="/img/{{ article.image }}-1x.webp, /img/{{ article.image }}-2x.webp 2x"
        />
        <span class="badge badge--nft">{{ article.badge }}</span>
      </div>

      <div class="blog-container__meta">
        <img src="/img/icons/user.svg" class="icon-img" alt="icon human" />
        <p class="blog-container__author">{{ article.author }}</p>

        <div class="blog-container__divider"></div>

        <img
          src="/img/icons/calendar.svg"
          class="icon-img"
          alt="icon calendar"
        />
        <time datetime="{{ article.date }}" class="blog-container__date">{{
          article.dateText
        }}</time>
      </div>

      <div class="blog-container__article">
        <h3 class="blog-container__title">{{ article.title }}</h3>
        <p class="blog-container__text">{{ article.text }}</p>

        <div class="blog-container__button">
          <a href="#" class="button button--primary button--extra-large">{{
            blog.readMoreBtn
          }}</a>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>

  <div class="blog__button">
    <a href="#" class="button button--primary button--medium">{{
      blog.readMoreBtn
    }}</a>
  </div>
</section>
