<!---------------section catalog---------------------------------------->
<section class="catalog">
  <div clas="catalog__container">
    <div class="catalog__slider">
      <div class="catalog__block-title">
        <img
          src="/img/icons/folder.svg"
          class="catalog__icon"
          alt="icon catalog"
        />
        <h2 class="catalog__title">{{ catalog.title }}</h2>
      </div>

      <div class="catalog__line"></div>

      <div class="catalog__nav">
        <a href="#" class="button button--primary button--small">{{
          catalog.buttonSeeAll
        }}</a>

        <div class="catalog__divider"></div>
        <button
          type="button"
          class="button button--primary button--extra-small"
        >
          &lt;
        </button>
        <button
          type="button"
          class="button button--secondary button--extra-small"
        >
          &gt;
        </button>
      </div>
    </div>
     <!-----------------------------catalog cards container------------------------->
    <div class="catalog__products">
      <!-----------------------------catalog cards------------------------->
      {% for product in catalog.products %}
      <div class="product">
        <div class="product__image">
          <a href="#">
            <img
              src="/img/{{ product.image }}-1x.webp"
              width="252.8"
              height="324"
              alt="{{ product.name | lower }}"
              srcset="/img/{{ product.image }}-1x.webp, /img/{{ product.image }}-2x.webp 2x"
            />
            <span class="badge badge--{{ product.badgeType }}">{{
              product.badge
            }}</span>
            <div class="roduct__info>"
            <p class="product__price">{{ product.price }}</p>
            <h3 class="product__name">{{ product.name }}</h3>
          </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
