<section class="catalog">
  <div class="catalog__container">
    <div class="catalog__slider">
      <div class="catalog__block-title">
        <img
          src="/img/icons/folder.svg"
          class="catalog__icon"
          alt="icon catalog"
        />
        <h2 class="catalog__title">{{ homepage.catalog.title }}</h2>
      </div>

      <div class="catalog__line"></div>

      <div class="catalog__nav">
        <a href="#" class="button button--primary button--small">{{
          homepage.catalog.buttonSeeAll
        }}</a>

        <div class="catalog__divider"></div>
        <button
          type="button"
          class="button button--primary button--extra-small"
        >
          &lt;
        </button>
        <button
          type="button"
          class="button button--secondary button--extra-small"
        >
          &gt;
        </button>
      </div>
    </div>
   <div class="catalog__products">
   {% for item in homepage.catalog.featuredProducts %}
  {% set product = item %}
   {% include "partials/product-card.njk" %}
   {% endfor %}
</div>
    </div>
  </div>
</section>