<aside class="catalog-filter">
  <form class="catalog-filter__form" action="#" method="get">
    {% for filter in filters %}
    <div class="catalog-filter__block">
      <h3 class="catalog-filter__title">{{ filter.title }}<h3>

      {% if filter.options.length %}
      <ul class="catalog-filter__list">
        {% for option in filter.options %}
        <li class="catalog-filter__item">
        <input type="{{ filter.type }}" id="{{ option.id }}" name="{{ filter.title | lower | replace(' ', '-') }}" value="{{ option.value}}"
            {% if filter.type == 'radio' and
            loop.first %} required {% endif %} />
              <label class="catalog-filter__label" for="{{ option.id}}">
            {{ option.label }}
          </label>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="button button--secondary button--large">Apply</button>
  </form>
</aside>
