<footer class="footer">
  <div class="footer__block container">
    <div class="footer__left">
      <a href="index.html" class="logo">
        <img
          src="/img/icons/logo-blue.svg"
          class="logo logo--secondary"
          alt="Binabox logo"
        />
      </a>
      <p class="footer__text">{{ footer.text }}</p>
    </div>

    <div class="footer__right">
      <div class="footer__column">
        <h2 class="footer__title">{{ footer.subscribeTitle }}</h2>
        <nav class="footer-nav">
          <ul class="footer-nav__list">
            {% for item in footer.navMain %}
            <li class="footer-nav__item">
              <a href="{{ item.url }}" class="footer-nav__link">{{
                item.label
              }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="footer__column">
        <h2 class="footer__title">{{ footer.companyTitle }}</h2>
        <nav class="footer-nav">
          <ul class="footer-nav__list">
            {% for item in footer.navCompany %}
            <li class="footer-nav__item">
              <a href="{{ item.url }}" class="footer-nav__link">{{
                item.label
              }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="footer__bottom container">
    <p class="footer__copyright">{{ footer.copyright }}</p>
    <div class="footer__socials">
      {% for social in footer.socials %}
      <a
        href="{{ social.url }}"
        class="social-link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/img/icons/{{ social.icon }}.svg"
          class="icon-img"
          alt="{{ social.alt }}"
        />
      </a>
      {% endfor %}
    </div>
  </div>
</footer>
