<footer class="footer">
  <div class="footer__container">
    <div class="footer__block">
      <div class="footer__logo">
      <a href="index.html" class="logo">
        <img
          src="/img/icons/logo-blue.svg"
          class="logo"
          alt="Binabox logo"
        />
      </a>
      <p class="footer__text">{{ footer.text }}</p>
    </div>

       <div class="footer-nav">
          <div class="footer-nav__section">
          <h2 class="footer-nav__title">{{ footer.subscribeTitle }}</h2>
          <ul class="footer-nav__list">
            {% for item in footer.navMain %}
            <li class="footer-nav__item">
              <a href="{{ item.url }}" class="footer-nav__link">{{
                item.label
              }}</a>
            </li>
            {% endfor %}
          </ul>
          </div>

      <div class="footer-nav__section">
        <h2 class="footer-nav__title">{{ footer.companyTitle }}</h2>
          <ul class="footer-nav__list">
            {% for item in footer.navCompany %}
            <li class="footer-nav__item">
              <a href="{{ item.url }}" class="footer-nav__link">{{
                item.label
              }}</a>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
    </div>

  <div class="footer__bottom">
    <p class="footer__copyright">{{ footer.copyright }}</p>
    <div class="footer__socials">
      {% for social in footer.socials %}
      <a
        href="{{ social.url }}"
        class="socials__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/img/icons/{{ social.icon }}.svg"
          class="icon-img"
          alt="{{ social.alt }}"
        />
      </a>
      {% endfor %}
    </div>
  </div>
</footer>
