<header class="header">
      <a href="#">
        <img class="logo logo--primary" src="/img/logo-white-1x.webp" alt="Binabox logo">

          {% include "partials/nav.njk" %}
          <div class="navigations">
      <form class="search-form">
        <button type="submit" class="search-button"></button>
        <input type="text" class="search-input" placeholder="search" />
      </form>
      <a href="#" class="button button--primary button--medium">Discord</a>
      <button type="button" class="button button--secondary button--medium">Connect</button>
      </div>
    </header>