<article class="product-card">
  <img
    src="../img/{{ product.image }}-1x.webp"
    alt="{{ product.title }}"
    class="product__image"
    srcset="../img/{{ product.image }}-1x.webp, ../img/{{ product.image }}-2x.webp -2x"
  />
  <h3 class="product-card__title">{{ product.title }}</h3>
  <p class="product-card__category">{{ product.category }}</p>
  <p class="product-card__price">{{ product.price }}</p>
  <button class="product-card__btn">Add to cart</button>
</article>
