<article class="product-card">
  <a href="#" class="product-card__image-wrapper">
    <img
      src="/img/{{ product.image }}-1x.webp"
      width="252.8"
      height="324"
      alt="{{ product.name | lower }}"
      srcset="/img/{{ product.image }}-1x.webp, /img/{{ product.image }}-2x.webp 2x"
      class="product-card__image"
    />
    <span class="badge badge--{{ product.badgeType }}">{{ product.badge }}</span>
  </a>
  <div class="product-card__info">
    <p class="product-card__price">{{ product.price }}</p>
    <h3 class="product-card__name">{{ product.name }}</h3>

    {% if product.showButton %}
      <button class="product-card__btn">Buy</button>
       <button class="product-card__btn">Favourites</button>
    {% endif %}
  </div>
</article>