@use "variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-base;
  min-width: 320px;
  width: 100%;
  background-color: $primary-color;
  overflow-x: hidden;
}

main {
  padding-top: 80px;
}

a {
  color: $white;
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: $font-accent;
  font-weight: $font-weight-regular;
}
h1 span {
  color: $bright-blue;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
