// Colors
$primary-color: rgba(13, 13, 21, 1);
$dark-gray:rgba(208, 215, 251, 0.17);
$gray:rgba(229, 236, 251, 0.36);
$light-gray:rgba(231, 238, 247, 0.66);
$light-blue: rgba(56, 146, 243, 1);
$white: rgba(245, 248, 251, 1);
$dark-blue:rgba(191, 197, 238, 0.12);
$blue:rgba(0, 84, 182, 1);

//fonts
$font-base:"Poppins", Arial, sans-serif;
$font-accent: "Bakbak One", sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
//demensions
$base-size: 16px;
$size-xs: 12px;
$size-s:14px;
$size-m:18px;
$size-l:20px;
$size-xl:24px;
$size-xxl:28px;
$size-3xl:36px;
$size-4xl:52px;
$size-big:72px;